﻿@{
   Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.ViewModels.DashboardViewModel
<style>
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

</style>
<link href="~/Content/mdbcss/addons/datatables.min.css" rel="stylesheet">
<div class="row">
   <div class="col-2" id="dashboardTab">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
         <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
         <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#infomation" role="tab" aria-controls="v-pills-profile" aria-selected="false">Information</a>
         <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#mycourse" role="tab" aria-controls="v-pills-profile" aria-selected="false">My Courses</a>
         @if (Session["usertype"] != null && Convert.ToInt32(Session["usertype"]) == 2)
         {
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#courses" role="tab" aria-controls="v-pills-profile" aria-selected="false">Posted Courses</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#videos" role="tab" aria-controls="v-pills-profile" aria-selected="false">Videos</a>
         }
      </div>
   </div>
   <div class="col-10">
      <!--Dashboard Home-->
      <div class="tab-content" id="v-pills-tabContent">
         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card">
               <h5 class="card-header">Information</h5>
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-3">
                        <img src="@Model.PhotoLink" class="rounded" style="max-height:150px" />
                     </div>
                     <div class="col">
                        <p>Full name: @Html.DisplayTextFor(model => model.FirstName) @Html.DisplayTextFor(model => model.LastName)</p>
                        <p>Username: @Html.DisplayTextFor(model => model.UserName)</p>
                        <p>Email: @Html.DisplayTextFor(model => model.Email)</p>
                        <p>Birthdate: @Html.DisplayFor(model => model.DOB)</p>
                     </div>
                  </div>
               </div>
            </div>
            <hr />
            @if (Session["error_changed_password"] != null && !Session["error_changed_password"].ToString().Equals(""))
            {
               <div class="alert alert-danger" role="alert">
                  @Session["error_changed_password"]
               </div>
            }
            <div class="card">
               <div class="card-header">
                  Change Password
               </div>
               <div id="collapse_change_password" class="collapse show" data-parent="#accordion">
                  <div class="card-body">
                     @using (Html.BeginForm("ChangePassword", "Dashboard", FormMethod.Post))
                     {
                        <style>
                           #label {
                              width: 150px;
                           }
                        </style>
                        <div class="input-group">
                           <span for="old_password" class="input-group-text" id="label">Old Password</span>
                           <input type="password" class="form-control" placeholder="Old Password" autofocus="autofocus" name="old_password" id="input-text" />
                        </div><br />
                        <div class="input-group">
                           <span class="input-group-text" id="label">New Password</span>
                           @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "New Password", @autofocus = "autofocus", id = "input-text" })
                           @Html.ValidationMessageFor(model => model.Password)
                        </div><br />
                        <div>
                           <input class="btn btn-primary" type="submit" name="change_password" value="Confirm" />
                        </div>
                     }
                  </div>
               </div>
            </div>
         </div>
         <!--Dashboard Home End-->
         <!--Information-->
         <div class="tab-pane fade" id="infomation" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div style="padding-left: 50px; padding-right: 50px;">
               <h1 class="card-body">Edit Information</h1>
               <hr />
               @using (Html.BeginForm("Information", "Dashboard", FormMethod.Post))
               {
                  <div class="input-group">
                     <span class="input-group-text" id="label">User Name</span>
                     @Html.TextBoxFor(model => model.UserName, new { @readonly = "readonly", @class = "form-control", @placeholder = "User Name", @autofocus = "autofocus" })
                  </div><br />
                  <div class="input-group">
                     <span class="input-group-text" id="label">First Name</span>
                     @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @autofocus = "autofocus", id = "input-text" })
                  </div><br />
                  <div class="input-group">
                     <span class="input-group-text" id="label">Last Name</span>
                     @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @autofocus = "autofocus", id = "input-text" })
                  </div><br />
                  <div class="input-group">
                     <span class="input-group-text" id="label">Email</span>
                     @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @autofocus = "autofocus" })
                  </div><br />
                  <div class="input-group">
                     <span class="input-group-text" id="label">Date of Birth</span>
                     @Html.TextBoxFor(model => model.DOB, new { @type = "date", @class = "form-control", @placeholder = "DOB", @autofocus = "autofocus" })
                  </div><br />
                  <div>
                     <input class="btn btn-primary" type="submit" name="signup" value="Change" style="float:right" />
                  </div>
                  <br />
               }
            </div>
         </div>
         <!--Information End-->
         <!--My Courses-->
         <div class="tab-pane fade" id="mycourse" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div style="padding-left: 50px; padding-right: 50px;">
               <br />
               <h1>List of applied courses</h1>
               <table class="table" id="my_applied_courses" cellspacing="0" width="100%">
                  <thead class="thead-light">
                     <tr>
                        <th scope="col">#</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Price</th>
                        <th scope="col">Complete</th>
                        <th scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     @if (Model.ListMyCourses.Count == 0)
                     {
                        <tr>
                           <td colspan="6" class="text-center">Nothing to display</td>
                        </tr>
                     }
                     @foreach (var course in Model.ListMyCourses)
                     {
                        <tr>
                           <th scope="row">@course.Order</th>
                           <td>@course.Name</td>
                           <td>@course.Teacher</td>
                           @if (course.Price.Trim().Equals("0"))
                           {
                              <td>Free</td>
                           }
                           else
                           {
                              <td>$@course.Price</td>
                           }
                           <td>@course.CompletedPercent</td>
                           <td style='white-space: nowrap'>
                              <a class="btn btn-outline-primary" href="/Courses?id=@course.Id">View</a>
                           </td>
                        </tr>
                     }

                  </tbody>
               </table>
            </div>
         </div>
         <!--My Courses End-->
         @if (Session["usertype"] != null && Convert.ToInt32(Session["usertype"]) == 2)
         {
            <!--Courses-->
            <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="v-pills-profile-tab">
               <div style="padding-left: 50px; padding-right: 50px;">
                   <button type="button" onclick="location.href='/PostCourse/Index';" class="btn btn-primary mt-2 mr-3" style="float:right">Post Course</button>
                  <br />
                  <h1>List of courses</h1>
                  <table class="table" id="my_courses">
                     <thead class="thead-light">
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Course Name</th>
                           <th scope="col">Category</th>
                           <th scope="col">Price</th>
                           <th scope="col">Created Time</th>
                           <th scope="col">Videos</th>
                           <th scope="col">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        @if (Model.ListCourses.Count == 0)
                        {
                           <tr>
                              <td colspan="6" class="text-center">Nothing to display</td>
                           </tr>
                        }
                        @foreach (var course in Model.ListCourses)
                        {
                           <tr>
                              <th scope="row">@course.Order</th>
                              <td>
                                 @course.Name
                                 @if (course.IsApproved == false)
                                 {
                                 <span class="badge badge-secondary">Inactive</span>
                                 }
                              </td>
                              <td>@course.Category</td>
                              <td>@course.Price</td>
                              <td>@course.CreatedTime</td>
                              <td><span class="badge badge-primary badge-pill">@course.ListVideos.Count</span></td>
                              <td style='white-space: nowrap'>
                                 <div class="btn-group" role="group" aria-label="First group">
                                    <a class="btn btn-outline-primary" href="/Courses?id=@course.Id">
                                       <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    @using (Html.BeginForm("Edit", "Dashboard",  new { id = @course.Id }, FormMethod.Post))
                                    {
                                       <button class="btn btn-outline-warning" type="submit">
                                          <i class="fa fa-pencil" aria-hidden="true"></i>
                                       </button>
                                    }
                                    @using (Html.BeginForm("Delete", "Dashboard", new { id = course.Id }, FormMethod.Post))
                                    {
                                       <button class="btn btn-outline-danger" type="submit">
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                       </button>
                                    }
                                 </div>
                              </td>
                           </tr>
                        }
                     </tbody>
                  </table>
                  <script>
                     $(document).ready(function () {
                        $('#my_courses').DataTable();
                        $('.dataTables_length').addClass('bs-select');
                     });
                  </script>
               </div>
            </div>
            <!--Courses End-->
            <!--Videos-->
            <div class="tab-pane fade" id="videos" role="tabpanel" aria-labelledby="v-pills-profile-tab">
               <div style="padding-left: 50px; padding-right: 50px;">
                  <button type="button" onclick="location.href='/PostCourse/Video';" class="btn btn-primary mt-2 mr-3" style="float:right">Post Video</button>
                  <br />
                  <h1>List of videos</h1>
                  <div id="accordion">
                     <table class="table" id="my_videos">
                        <thead class="thead-light">
                           <tr>
                              <th scope="col">#</th>
                              <th scope="col">Video Name</th>
                              <th scope="col">Course Name</th>
                              <th scope="col">Updated Date</th>
                              <th scope="col">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           @foreach (var course in Model.ListCourses)
                           {
                              foreach (var video in course.ListVideos)
                              {
                                 <tr>
                                    <th scope="row">@video.Id</th>
                                    <td>@video.Name</td>
                                    <td>
                                       @course.Name
                                       @if (course.IsApproved == false)
                                       {
                                          <span class="badge badge-secondary">Inactive</span>
                                       }
                                    </td>
                                    <td>@video.UpdatedDate.ToString("MM/dd/yyyy")</td>
                                    <td style='white-space: nowrap'>
                                       <div class="btn-group" role="group" aria-label="First group">
                                          <a class="btn btn-outline-primary" href="/Courses/Video?id=@video.Id">
                                             <i class="fa fa-eye" aria-hidden="true"></i>
                                          </a>
                                          @using (Html.BeginForm("EditVideo", "Dashboard", new { id = @video.Id }, FormMethod.Post))
                                          {
                                             <button class="btn btn-outline-warning" type="submit">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                             </button>
                                          }
                                          @using (Html.BeginForm("DeleteVideo", "Dashboard", new { id = @video.Id }, FormMethod.Post))
                                          {
                                             <button class="btn btn-outline-danger" type="submit">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                             </button>
                                          }
                                       </div>

                                    </td>
                                 </tr>
                              }
                           }
                        </tbody>
                     </table>
                     <script>
                        $(document).ready(function () {
                           $('#my_videos').DataTable();
                           $('.dataTables_length').addClass('bs-select');
                        });
                     </script>
                  </div>
               </div>
            </div>
            <!--Videos End-->
         }
      </div>
   </div>
</div>
<script>
   function DashboardOnLoad() {
      const url = document.location.href;
      if (url.includes('#')) {
         var activeTab = url.substring(url.indexOf("#") + 1);
         $('a[href="#' + activeTab + '"]').tab('show')
      }
   }
   window.addEventListener('DOMContentLoaded', (event) => {
      const url = document.location.href;
      if (url.includes('#')) {
         var activeTab = url.substring(url.indexOf("#") + 1);
         $('a[href="#' + activeTab + '"]').tab('show')
      }
      console.log('DOM fully loaded and parsed');
   });
$(document).ready(function () {
$('#my_applied_courses').DataTable();
$('.dataTables_length').addClass('bs-select');
});
</script>
<script type="text/javascript" src="~/Scripts/mdbjs/addons/datatables.min.js"></script>