﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.Models.CourseDto

<h4 class="text-center mt-4">Post Course</h4>
<div class="d-flex justify-content-center">
    @using (Html.BeginForm("Post", "PostCourse", FormMethod.Post))
    {
        <form>
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Course name", @autofocus = "autofocus", @required = "required" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Fee)
                    @Html.TextBoxFor(model => model.Fee, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CategoryId)
                    @Html.DropDownListFor(model => model.CategoryId, new System.Web.Mvc.SelectList(ViewBag.ListCategories, "Id", "name"), new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IntroVideoLink)
                @Html.TextBoxFor(model => model.IntroVideoLink, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.IntroVideoLink)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class=" d-flex justify-content-center mt-3 mb-5"><button type="submit" class="btn btn-primary">Post</button></div>
        </form>
    }
</div>

