﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>Success!</h3>
</body>
</html>