﻿@{
    Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.Models.VideoDto

<h4 class="text-center mt-4">Post Course</h4>
<div class="d-flex justify-content-center">
    @using (Html.BeginForm("PostVideo", "PostCourse", FormMethod.Post))
    {
        <form>
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Video name", @autofocus = "autofocus", @required = "required" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.CourseId)
                    @Html.DropDownListFor(model => model.CourseId, new System.Web.Mvc.SelectList(ViewBag.listCourse, "Id", "Name"), new { @class = "form-control", @required = "required", @style="width: 100%" })
                    @Html.ValidationMessageFor(model => model.CourseId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VideoLink)
                @Html.TextBoxFor(model => model.VideoLink, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.VideoLink)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <div class=" d-flex justify-content-center mt-3 mb-5"><button type="submit" class="btn btn-primary">Post</button></div>
        </form>
    }
</div>

