﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Header.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
@section Slider
{
    <!--SHOW COURSE -->
    <div class="header">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <h1>Discount 50%</h1>
                </div>
                <div class="carousel-item">
                    <h1>500 New Courses</h1>
                </div>
                <div class="carousel-item">
                    <h1>More 100 Teachers </h1>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
}
<!-- CATEGORIES , SEARCH -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/">All</a>
                    <div class="dropdown-divider"></div>
                    @foreach (var category in ViewBag.ListCategories)
                    {
                         <a class="dropdown-item" href="/Category?id=@category.Id">@category.Name</a>
                    }
                </div>
            </li>
            @if (Session["usertype"] != null && Convert.ToInt32(Session["usertype"]) == 2)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/PostCourse/Index">Post Course</a>
                </li>
            }
        </ul>
    </div>
</nav>

<h5></h5>
<div id="textbox" style="text-align:center">
    @foreach (var course in ViewBag.ListCourses)
    {
        <div class="card d-inline-block d-inline-flex" style="width: 15rem; height: 18rem;">
            <img src="https://s3.amazonaws.com/thinkific/courses/course_card_image_000/390/4821547667846.medium.png?1547667846" class="card-img-top" alt="">
            <div class="card-body">
                <div class="card-title"><a href="/Courses?id=@course.Id">@course.Name</a></div>
                <div class="card-teacher">@course.getTeacher()</div>
                <div>
                    @if (course.Fee != 0)
                    {
                        <div class="card-price">@course.Fee $</div>
                    }
                    else
                    {
                        <div class="free-price">Free</div>
                    }
                </div>

            </div>
        </div>
    }
</div>
