.card h7{
    font-weight: bold;
    height: 3rem;
}
.card-teacher {
    font-size:14px;
    color: #818181;
    text-align:left;
}
.card-price{
    font-size: 20px;
    color:red;
    font-weight:bold;
    text-align:right;
}
.free-price{
    font-size: 20px;
    color:green;
    font-weight:bold;
    text-align:right;
}
h5{
    margin-top: 20px;
    margin-left: 40px;
    
}