.abc{
    display: flex;margin-left: 5%; margin-right: 5%;
}
.samelevel1{
    width: 70%; text-align: left;
}
.samelevel2{
    text-align: right; width: 30%;
}
.myButton {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    width: 680px;
    text-align: center;
    
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}
