
/* layout */
.header{
height: 300px;
}
.main-content{
  float: left;
  height:100%;
  width: 80%
}
.main-right{
  width: 20%;
  height:100%;
  float: left;
  text-align: center;
  height: 500px;
}
.footer{
  float:left;
  height: 30px;
  width: 100%;
text-align: center;
}
.my-btn {
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  margin: 0px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
/* shopping card */
#my-shopping-card{
  color: blue;
  margin:0px 20px;
}
.carousel-inner{
   background-color: #111d40;
   height: 300px;

 }
 .carousel-item{
   color: white;
   text-align: center;
  padding-top: 100px;
 }
 .card{
   margin:20px 20px;
 }
