﻿
@{
   Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.ViewModels.CourseManagerViewModel
<link href="~/Content/css/pay.css" rel="stylesheet" />
<div class="container">
   <div class="row">
      <div class="col-xs-6 col-md-8">
         <div class="card">
            <div class="card-header">
               Do you want to apply this course?
            </div>
            <div class="card-body">
               Course name: @Model.Name<br />
               Category: @Model.Category <br />
               Teacher: @Model.Teacher<br />
            </div>
         </div>
      </div>
      <div class="col-xs-6 col-md-4">
         <div class="card">
            <div class="card-header">
               Bill
            </div>
            <div class="card-body" style="display: flex;">
               <div class="samelevel1">@Model.Name</div>
               <div class="samelevel2">
                  <b>@Model.Price</b>
               </div>


            </div>
            <div class="abc">
               <div class="samelevel1" style="font-weight: bold;">Total</div>
               <div class="samelevel2" style="color: red;">
                  @Model.Price
               </div>
            </div>
            @using (Html.BeginForm("Apply", "Courses", new { id = Model.Id }, FormMethod.Post))
            {
               if (!Model.Price.Equals("Free"))
               {
                  <hr />
                  <div class="form-group">
                     <div class="form-check form-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                               value="1">
                        <img src="~/Content/picture/visa.jpg" width="20" height="15">
                        <label class="form-check-label" for="exampleRadios2">
                           Credit Card
                        </label>
                     </div><br>
                     <div class="form-check form-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                               value="2" checked>
                        <img src="~/Content/picture/momo.png" width="20" height="15">
                        <label class="form-check-label" for="exampleRadios2">
                           MoMo
                        </label>
                     </div>
                     <br>
                     <div class="form-check form-inline">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                               value="3">
                        <img src="~/Content/picture/paypal.png" width="20" height="15">
                        <label class="form-check-label" for="exampleRadios2">
                           PayPal
                        </label>
                     </div>
                     <br>
                  </div>
               }

               <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                  Checkout
               </button>
            }
         </div>

      </div>
   </div>
</div>

