﻿
@{
   Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.ViewModels.CourseViewModel

<div class="card">
   <div class="card-header">
      @Model.Name
   </div>
   <div class="card-body">
      <div class="row">
         <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9 card">
               <iframe class="embed-responsive-item" src="@Model.IntroVideoLink"
                       allowfullscreen></iframe>
            </div>
         </div>

         <div class="col-md-4">
            @if (Model.Applied == false)
            {
               <div class="card">
                  <div class="card-body">
                     @if (Model.Fee == 0)
                     {
                        <h1 class="card-title pricing-card-title">Free</h1>
                     }
                     else
                     {
                        <h1 class="card-title pricing-card-title">$@Model.Fee</h1>
                     }

                     <ul style="margin-left: 0">
                        <li>
                           <i class="fa fa-clock-o" aria-hidden="true"></i> Thời lượng:04 giờ 22 phút

                        </li>
                        <li>
                           <i class="fa fa-play-circle" aria-hidden="true"></i> Giáo trình:32 bài giảng

                        </li>
                        <li><i class="fa fa-history" aria-hidden="true"></i> Sở hữu khóa học trọn đời</li>
                        <li><i class="fa fa-percent" aria-hidden="true"></i>Giảm thêm <b>10%</b> khi thanh toán online</li>
                     </ul>
                     @using (Html.BeginForm("ApplyCourse", "Courses", new { id = Model.Id } ,FormMethod.Post))
                     {
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                           Apply Now
                        </button>
                     }
                  </div>
               </div>
               <div class="card">
                  <div class="card-body">
                     <h3 class="card-title pricing-card-title">
                        Decription
                     </h3>
                     @Model.Description
                  </div>
               </div>
            }
            else
            {
               <div class="card border-0" id="videos">
                  <div class="list-group card-body">
                     <a class="list-group-item list-group-item-primary">List</a>
                     @foreach (var video in Model.ListVideos)
                     {
                        if (!Model.ListWatched.Contains(video.Id))
                        {
                           <a href="/Courses/Video?id=@video.Id" class="list-group-item list-group-item-action">@video.Name</a>
                        }
                        else
                        {
                           <a href="/Courses/Video?id=@video.Id" class="list-group-item list-group-item-action list-group-item-secondary">@video.Name</a>
                        }
                     }
                  </div>
               </div>
            }
         </div>
      </div>
      @if (Model.Applied == false)
      {
         <div class="row card border-0" id="videos">
            <div class="list-group card-body">
               <a class="list-group-item list-group-item-info">List</a>
               @foreach (var video in Model.ListVideos)
               {
                  <a href="#" class="list-group-item list-group-item-action">@video.Name</a>
               }
            </div>
         </div>
      }
   </div>
</div>