﻿
@{
   Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.ViewModels.VideoViewModel

<div class="card">
   <div class="card-header">
      <a href="/Course?id=@Model.Course.Id">@Model.Course.Name</a> - @Model.Name
   </div>
   <div class="card-body">
      <div class="row">
         <div class="col-md-8">
            <div class="embed-responsive embed-responsive-16by9 card">
               <iframe class="embed-responsive-item" src="@Model.VideoLink"
                       allowfullscreen></iframe>
            </div>
         </div>

         <div class="col-md-4">
            <div class="card">
               <div class="card-header">
                  @Model.Name
               </div>
               <div class="card-body">
                  <h3 class="card-title pricing-card-title">
                     Decription
                  </h3>
                  @Model.Description
                  <br />
                  @if (Model.IsWatched == false)
                  {
                     using (Html.BeginForm("Complete", "Courses", FormMethod.Post))
                     {
                        <input type="text" class="form-control" placeholder="Video_Id" autofocus="autofocus" name="video_id" id="input-text" value="@Model.Id" hidden />
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                           Complete
                        </button>
                     }
                  }
               </div>
            </div>

         </div>
      </div>
   </div>
</div>