﻿@{
   Layout = "~/Views/Shared/_Header.cshtml";
}
@RenderSection("Slider", false)
<!-- content -->
<div class="main-content" style="min-width:400px">
   @RenderBody()
</div>
@if (Session["username"] != null)
{
   <!-- MAIN RIGHT CONTAINT MENU -->
   <div class="main-right">
      <ul class="list-group mt-5 d-none d-lg-block">
         <li class="list-group-item active">MENU</li>
         <li class="list-group-item"><a href="/Dashboard">Profile</a></li>
         <li class="list-group-item"><a href="/Dashboard#mycourse">My courses</a></li>
         @if (Convert.ToInt32(Session["usertype"]) == 2)
         {
            <li><a class="list-group-item" href="/Dashboard#courses">Posted Courses</a></li>
            <li><a class="list-group-item" href="/Dashboard#videos">Videos</a></li>
         }
         @if (Convert.ToInt32(Session["usertype"]) == 0)
         {
            <li><a class="list-group-item" href="/Management">Management</a></li>
         }
      </ul>
   </div>
}