﻿
@{
   ViewBag.Title = "Search";
   Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.ViewModels.SearchModel

<style>
   table.dataTable thead .sorting:after,
   table.dataTable thead .sorting:before,
   table.dataTable thead .sorting_asc:after,
   table.dataTable thead .sorting_asc:before,
   table.dataTable thead .sorting_asc_disabled:after,
   table.dataTable thead .sorting_asc_disabled:before,
   table.dataTable thead .sorting_desc:after,
   table.dataTable thead .sorting_desc:before,
   table.dataTable thead .sorting_desc_disabled:after,
   table.dataTable thead .sorting_desc_disabled:before {
      bottom: .5em;
   }
</style>
<link href="~/Content/mdbcss/addons/datatables.min.css" rel="stylesheet">
<div class="s002">
   @using (Html.BeginForm("Index", "Search", FormMethod.Post))
   {
      <form>
         <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
         <link href="~/Content/css/main.css" rel="stylesheet" />
         <div class="inner-form">
            <div class="input-field first-wrap">
               <input id="search" type="text" placeholder="What are you looking for?" name="search_value" />
            </div>
            <div class="input-field fouth-wrap">
               <select data-trigger="" name="search_type">
                  <option value="-1">All</option>
                  <option value="1">Course</option>
                  <option value="2">Category</option>
                  <option value="3">Teacher</option>
               </select>
            </div>
            <div class="input-field fifth-wrap">
               <button class="btn-search" type="submit">SEARCH</button>
            </div>
         </div>
      </form>
   }
</div>
<div class="container">
   @if (Model != null)
   {
      <div style="text-align:center">
         <h3>Search result with keyword: @Model.Keyword</h3>
      </div>
      <div>
         @if (!String.IsNullOrEmpty(Model.ErrorMessage))
         {
            <h2>@Model.ErrorMessage</h2>
         }
         @if (Model.SearchType == -1 || Model.SearchType == 2)
         {
            <div id="textbox" style="text-align:center">
               <h2>Category</h2>
               @if (Model.ListCategory.Count > 0)
               {
                  foreach (var category in Model.ListCategory)
                  {
                     <div class="card d-inline-block" style="width: 15rem;">
                        <img src="https://s3.amazonaws.com/thinkific/courses/course_card_image_000/390/4821547667846.medium.png?1547667846" class="card-img-top" alt="" style="max-height: 200px">
                        <div class="card-body">
                           <h5 class="card-title">@category.Name</h5>
                           <a href="#" class="btn btn-primary">View</a>
                        </div>
                     </div>
                  }
               }
               else
               {
                  <br /><p>Nothing to display</p>
               }
            </div>
         }
         @if (Model.SearchType == -1 || Model.SearchType == 3)
         {
            <div id="textbox" style="text-align:center">
               <h2>Teachers</h2>
               <table class="table" id="my_teachers" cellspacing="0" width="100%">
                  <thead class="thead-light">
                     <tr>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Birthday</th>
                        <th scope="col">Is Actice</th>
                        <th scope="col">Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     @if (Model.ListTeacher.Count > 0)
                     {
                        foreach (var teacher in Model.ListTeacher)
                        {
                           <tr>
                              <td>@teacher.FirstName</td>
                              <td>@teacher.LastName</td>
                              <td>@teacher.DOB</td>
                              @if (teacher.IsActive == true)
                              {
                                 <td><span class="badge badge-success">Active</span></td>
                              }
                              else
                              {
                                 <td><span class="badge badge-secondary">Inactive</span></td>
                              }
                              <td>
                                 <a class="btn btn-outline-primary" href="/Teacher?id=@teacher.UserId">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                 </a>
                              </td>
                           </tr>
                        }
                     }
                  </tbody>
               </table>
            </div>
         }
         <div id="textbox" style="text-align:center">
            @if (Model.SearchType == 2)
            {
               <h2>Courses of Category</h2>
            }
            else if (Model.SearchType == 3)
            {
               <h2>Courses of Teacher</h2>
            }
            else
            {
               <h2>Courses</h2>
            }
            <table class="table" id="my_courses" cellspacing="0" width="100%">
               <thead class="thead-light">
                  <tr>
                     <th scope="col">Course Name</th>
                     <th scope="col">Description</th>
                     <th scope="col">Fee</th>
                     <th scope="col">Action</th>
                  </tr>
               </thead>
               <tbody>
                  @if (Model.ListCourse.Count > 0)
                  {
                     foreach (var course in Model.ListCourse)
                     {
                        <tr>
                           <td>@course.Name</td>
                           <td>@course.Description</td>
                           @if (course.Fee != 0)
                           {
                              <td><a href="/Courses?id=@course.Id" class="btn btn-primary">$@course.Fee</a></td>
                           }
                           else
                           {
                              <td><a href="/Courses?id=@course.Id" class="btn btn-primary">Free</a></td>
                           }
                           <td>
                              <a class="btn btn-outline-primary" href="/Courses?id=@course.Id">
                                 <i class="fa fa-eye" aria-hidden="true"></i>
                              </a>
                           </td>
                        </tr>
                     }
                  }
               </tbody>
            </table>
         </div>
      </div>
   }
</div>

<script src="~/Scripts/js/extention/choices.js"></script>
<script src="~/Scripts/js/extention/flatpickr.js"></script>
<script>
   flatpickr(".datepicker",
      {});</script>
<script>
   const choices = new Choices('[data-trigger]',
      {
         searchEnabled: false,
         itemSelectText: '',
      });
</script>
<script>
   $(document).ready(function () {
      $('#my_category').DataTable();
      $('.dataTables_length').addClass('bs-select');
   });
   $(document).ready(function () {
      $('#my_teachers').DataTable();
      $('.dataTables_length').addClass('bs-select');
   });
   $(document).ready(function () {
      $('#my_courses').DataTable();
      $('.dataTables_length').addClass('bs-select');
   });
</script>
<div>
</div>
<script type="text/javascript" src="~/Scripts/mdbjs/addons/datatables.min.js"></script>