﻿@{
   Layout = "~/Views/Shared/_Header.cshtml";
}
@model ASPLearning.Models.UserDto
   <div class="container">
      @if (Session["error_signup"] != null && !Session["error_signup"].ToString().Equals(""))
      {
         <div class="alert alert-danger" role="alert">
            @Session["error_signup"] <br />
            @Html.ValidationMessageFor(model => model.UserName) <br />
            @Html.ValidationMessageFor(model => model.Password) <br />
            @Html.ValidationMessageFor(model => model.Email) <br />
            @Html.ValidationMessageFor(model => model.DOB) <br />
         </div>
      }
      <div class="row">
         <div class="col-md-6" style="border-right: 1px solid black;">
            <h2>Sign in</h2>
            <hr />
            @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
            {
         <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Username", @autofocus = "autofocus", @required="required"})
            </div>
            @Html.ValidationMessageFor(model => model.UserName)
            </div>
         <div class="form-group">
            @Html.LabelFor(model => model.Password)
            <div class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
               @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @autofocus = "autofocus" , @required="required"})
            </div>
            @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div>
               <input class="btn btn-lg btn-primary btn-block" type="submit" name="login" value="Log in">
            </div>
            }
         </div>
         <div class="col-md-6">
            <h2>Sign up</h2>
            <hr />
            @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
            {
               <style>                  
                  #label {
                     width:150px;
                  }
               </style>
               <div class="input-group">
                  <span class="input-group-text" id="label">User Name</span>
                  @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "User Name", @autofocus = "autofocus", id = "input-text", @required="required" })
               </div><br />
               <div class="input-group">
                  <span class="input-group-text" id="label">First Name</span>
                  @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @autofocus = "autofocus", id = "input-text" })
               </div><br />
               <div class="input-group">
                  <span class="input-group-text" id="label">Last Name</span>
                  @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @autofocus = "autofocus", id = "input-text", @required="required" })
               </div><br />
               <div class="input-group">
                  <span class="input-group-text" id="label">Email</span>
                  @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @autofocus = "autofocus", id = "input-text", @required="required" })
               </div><br />
               <div class="input-group">
                  <span class="input-group-text" id="label">Date of Birth</span>
                  @Html.TextBoxFor(model => model.DOB, new { @type = "date", @class = "form-control", @placeholder = "DOB", @autofocus = "autofocus", id = "input-text", @required="required" })
               </div><br />
               <div class="input-group">
                  <span class="input-group-text" id="label">User Type</span>
                  <span class="input-group-text">
                     <input type="radio" name="usertype" value="1" checked>
                  </span>
                  <span class="input-group-text" id="usertype" style="background: #ffffff; width: 155px;">&nbsp; Student</span>
                  <span class="input-group-text">
                     <input type="radio" name="usertype" value="2">
                  </span>
                  <span class="input-group-text" id="usertype" style="background: #ffffff; width: 156px;">&nbsp; Teacher</span>
                  <br />
               </div><br />
               <div class="input-group">
                  <span class="input-group-text" id="label">Password</span>
                  @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @autofocus = "autofocus", id = "input-text", @required="required" })
               </div><br />
               <div class="input-group">
                  <span for="retype_password" class="input-group-text" id="label">Confirm Password</span>
                  <input type="password" class="form-control" placeholder="Confirm Password" autofocus="autofocus" name="retype_password" id="input-text" required />
               </div><br />
               <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
               <div>
                  <input class="btn btn-lg btn-primary btn-block" type="submit" name="signup" value="Sign up" />
               </div>
            }
         </div>
      </div>
   </div>