﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Header.cshtml";
}
<head>
    <link rel="stylesheet" href="../Content/error/style.css" />
</head>
<div id="colorlib-notfound">
    <div class="colorlib-notfound">
        <div class="colorlib-notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2 id="colorlib_404_customizer_page_heading">PAGE NOT FOUND</h2>
        <p id="colorlib_404_customizer_content">The page you are looking for might have been removed had its name changed or is temporarily unavailable</p>
        <a href="http://www.hcmus.somee.com/"
           id="colorlib_404_customizer_button_text">Return to hompage</a>
    </div>
</div>

