.myButton {
	box-shadow:inset 0px 39px 0px -24px #573f3d;
	background-color:#5f4240;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #473231;
}
.myButton:hover {
	background-color:#573f3d;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton1 {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton1:hover {
	background-color:#eb675e;
}
.myButton1:active {
	position:relative;
	top:1px;
}
